<%- include('./partials/header') %>

<%#
  Use a - in ejs tag when the express returns
  HTML and we want ejs to treat it as HTML.
  With a =, it will treat as text and escape all HTML
  specific characters like greater than, smaller than, etc.
%>

<h1>Contact Us</h1>

<% if (fullName && message) { %>
  <div>
    <p>Thank you, <%= fullName %>!</p>
    <p><strong>Your message was:</strong> <%= message %></p>
  </div>
<% } %>

<!--
  When a form is submitted with default attributes,
  the browser will make HTTP GET request to the URL
  browser is currently at. It will append to the end
  of that URL the form data as a query string.
-->
<form>
  <div>
    <label for="fullName">Full Name</label> <br/>
    <input type="text" name="fullName" id="fullName" />
  </div>

  <div>
    <label for="message">Message</label> <br />
    <textarea
      name="message"
      id="message"
      cols="60"
      rows="8"
    ></textarea>
  </div>

  <div>
    <input type="submit" value="Submit" />
  </div>
</form>

<h4>
  <%= sample %>
</h4>

<%- include('./partials/footer') %>
